fastapi
uvicorn[standard]
rank-bm25
sqlalchemy[asyncio]
asyncpg
chromadb
streamlit
python-dotenv
httpx
PyPDF2
python-docx
sqlparse
python-jose[cryptography]
pyyaml
numpy
watchdog
python-multipart
aiomysql
psycopg2-binary
cryptography
openai
anthropic
python-multipart
google-genai
sentence-transformers
setfit
joblib
